.maincontainers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.videodiv {
  display: flex;
  flex-direction: row;
}
button {
  width: 50%;
}
.cards {
  width: 300px;
  padding: 10px;
}
