.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.allPosts {
  color: #00bcd4;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
